@import "tailwindcss";




:root {
  --space: 28px;


  --color-enphase: yellow;
  --color-enphase-black: orange;
  --color-title: #232345;
  --color-main: white;
}


* {
  font-family: nunito;
}

body {
  width: 100%;
  height: 100dvh;
  
  
   
}


  @font-face {
    font-family: nunito;
    src: url("./fonts/font.ttf");
  }




  .title {
    color: var(--color-title);
    font-weight: 900;
    font-size: 48px
  }


  /* styles/globals.css */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.05);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}